In [ ]:
# 1. 1712 손익분기점

In [10]:
A, B, C = input().split()
A = int(A); B = int(B); C = int(C)

while True:
    if B >= C:
        print(-1)
        break
    else:
        print(( A // (C - B)) + 1)
        break

1000 70 170
11

In [ ]:
# 2. 2839 설탕배달

In [13]:
sugar = int(input())
package = 0

while sugar != 0:
    if sugar % 5 == 0:
        package += sugar // 5
        sugar = 0
    else:
        if sugar < 3:
            package = -1
            break
        else:
            sugar -= 3
            package += 1

print(package)

11
3

In [ ]:
# 3. 2292 벌집

In [11]:
room = int(input())

if room == 1:
    print(1)
else:
    count = 1
    answer = 1
    while room >= 2:
        room -= count * 6
        count += 1
        answer += 1
    print(answer)

13
3

In [ ]:
# 4. 1193 분수찾기

In [ ]:
# 5. 2869 달팽이는 올라가고 싶다

In [5]:
A, B, V = input().split()
A = int(A); B = int(B); V = int(V)

print((V - B - 1) // (A - B) + 1)

2 1 5
4

In [ ]:
# 6. 10250 ACM 호텔

In [10]:
T = int(input())

for i in range(0, T):
    H, W, N = input().split()
    H = int(H); W = int(W); N = int(N)
    floor = N % H
    unit = ((N // H) + 1)
    if not floor:
        floor = H
        unit -= 1
    print(floor * 100 + unit)

5
30 50 72
1203
6 12 10
402
30 50 31
102
30 50 60
3002
6 12 6
601

In [ ]:
# 7. 2775 부녀회장이 될테야

In [ ]:
# 8. 1011 Fly me to the Alpha Centauri